// ANIMATIONS
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// TAGS
a[data-inherit] {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

#resolution-panel {
    p {
        width: 75%;
    }
    .mdl-textfield {
        width: 125px;
    }
}

.panel-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align-left {
    align-items: flex-end;
}

.mdl-tabs__panel {
    .panel-padding {
        margin-top: 16px;
    }
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.mdl-card {
    height: 325px;
}