// ANIMATIONS

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// TAGS

a[data-inherit]{
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}


#resolution-panel{
.mdl-textfield {
    width: 125px;
}}
.mdl-tabs__panel {
    .panel-padding {
        margin-top: 16px;
    }
}