.text-primary {
    color: $color-primary !important;
}

.text-accent {
    color: $color-accent !important;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.background-primary {
    background: $color-primary !important;
}

.background-accent {
    background: $color-accent !important;
}

.background-black {
    background: black !important;
}

.background-white {
    background: white !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}